footer {
    background: #2f496e;
    height: 100px;
    clear: both;
}

.jumbotron {
    background-color: #2f496e;
    color: white;
}

.nav-link {
    background-color: #2f496e;
}

#footertext {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
    font-size: 14px;
    float: right;
    font-family: 'Lato', sans-serif !important;
}

.btn-primary {
    background-color: #2f496e !important;
}

.credits {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 14px;
    justify-self: center;
}

.center {
    margin: auto;
    /* padding: 10px; */
}

.card {
    border-radius: 10px !important;
}

.card-text {
    max-width: 750px;
}

.learn-more-btn {
    bottom: 0;
}