{% extends "base.html" %} {% block content %}
<div class="jumbotron text-center">
    <h1>School of Computing and Design Online Capstone Festival</h1>
</div>
<h1 class="text-center">About</h1>
<div class="container  animated slideInUp">
    <p>As part of the School of Computing and Design's bachelor degree programs, all students must complete one or two semesters of capstone classes depending on their major.
        <br><br>Computer Science - CST 499 can be completed in the Fall or Spring semester, with projects completed in teams of 2-5 students where they work together to create a solution to a problem followed by design and implementation of the solution.
        <br><br>The capstone festival is where students present their finished projects to the School of Computing and Design faculty, their friends and families, other CSUMB students, and the broader community. Capstone projects by computer science graduates
        cover a wide spectrum of projects including complex web applications, mobile (iOS and Android) applications, data analysis, visualization, networking, network security and computer science research. The project's scope and objectives are developed
        in collaboration with industry mentors who contribute a significant amount of their time and expertise to help our students through their capstone.</p>
</div> 
{% endblock %}