{% extends "base.html" %} {% block content %}
<div class="jumbotron text-center">
    <h1>School of Computing and Design Online Capstone Festival</h1>
</div>
<div class="container animated slideInUp">
    <h2><strong>Email:</strong> <a href="mailto:scd@csumb.edu">scd@csumb.edu</a></h2> <br>
    <h2><strong>Phone:</strong> <a href="tel:831-582-3621">(831) 582-3621</a></h2> <br>
    <h2><strong>Building:</strong> <a href="https://csumb.edu/directory/building/506">Joel and Dena Gambord Business and Information Technology Building</a></h2>
</div>
{% endblock %}