{% extends "base.html" %} {% block content %}
<div class="jumbotron text-center">
    <h1>School of Computing and Design Online Capstone Festival</h1>
</div>
<article class="shadow-sm p-5">
    <h1 class="font-weight-bold">Contact Information</h1>
    <h5><strong>Email:</strong> <a href="mailto:scd@csumb.edu">scd@csumb.edu</a></h5>
    <h5><strong>Phone:</strong> <a href="tel:831-582-3621">(831) 582-3621</a></h5>
    <h5><strong>Building:</strong> <a href="https://csumb.edu/directory/building/506">Joel and Dena Gambord Business and Information Technology Building</a></h5>
</article>
{% endblock %}