{% extends "base.html" %} {% block content %}
<div class="jumbotron text-center">
    <h1>School of Computing and Design Online Capstone Festival</h1>
</div>
<div class="container embed-responsive embed-responsive-16by9 d-flex justify-content-center  animated slideInUp">
    <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSlmIT5NRVm5YoozkRQcOD6aScfYC1T8qA15UCxr8nx9wBaWiK6Ikb6EkosC75oDjr51m4-75v9WcX7/pubhtml?gid=2034961017&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
</div>
{%endblock %}