{% extends "base.html" %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2f496e; color: white;">
    <span class="navbar-brand" style="color: white;">Class of Spring 2020</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/presentations">Presentations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>School of Computing and Design Online Capstone Festival</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm reverse mb-5 animated slideInUp">
                <div class="view view-cascade overlay center">
                    <img class="card-img-top center" src="{{ team['image'] }}" style="width: 250px;" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="text-center font-weight-bold">{{ team['team']['name'] }}</h4>
                    <p class="center text-muted"> {{ team['team']['description'] }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for member in team['team']['members'] %}
        <div class="col-12 col-md-4 my-5 animated slideInUp">
            <div class="card shadow-sm testimonial-card">
                <div class="card-up indigo lighten-1"></div>
                <div class="avatar mx-auto white">
                    <img src="{{ member['image'] }}" class="shadow-sm rounded-circle mt-n5" style="width: 200px; height: 200px;" alt="{{ member['name'] }}">
                </div>
                <div class="card-body">
                    <h4 class="text-center"> {{ member['name'] }} </h4>
                    <hr class="w-100">
                    <div class="text-center">
                        <a href="{{ member['email'] }}" target="_blank" class="px-2 fa-lg li-ic"><i class="fas fa-at"></i></a> {% for link in member['links'] %} {% if link[0] == 'LinkedIn' %}
                        <a href="{{link[1]}}" target="_blank" class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a> {% endif %} {% if link[0] == 'GitHub' %}
                        <a href="{{link[1]}}" target="_blank" class="px-2 fa-lg li-ic"><i class="fab fa-github"></i></a> {% endif %} {% if link[0] == 'Resume' %}
                        <a href="{{link[1]}}" target="_blank" class="px-2 fa-lg li-ic"><i class="far fa-file-alt"></i> Resume</a> {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}