{% extends "base.html" %} {% block content %}
<div class="jumbotron text-center">
    <h1>School of Computing and Design Online Capstone Festival</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm reverse mb-5 animated slideInUp">
                <div class="view view-cascade overlay center">
                    <img class="card-img-top center" src="{{ team['image'] }}" style="width: 250px;" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="text-center font-weight-bold">{{ team['team']['name'] }}</h4>
                    <p class="center text-muted"> {{ team['team']['description'] }} </p>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            {% for member in team['team']['members'] %}
            {% if team['team']['members']|length % 3 == 0 %}
                {% include 'three_row_card.html' %}
            {% elif team['team']['members']|length % 2 == 0 %}
                {% include 'two_row_card.html' %}
            {% else %}
                <!-- Any other combos use the column layout -->
                {% include 'three_row_card.html' %}
            {% endif %}
            {% endfor %}
        </div>
</div>
{% endblock %}