{% extends "base.html" %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2f496e; color: white;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/presentations">Presentations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>School of Computing and Design Online Capstone Festival</h1>
</div>
<div>
    <!-- Card -->
    <div class="card card-cascade wider reverse m-5  animated slideInUp">

        <!-- Card image -->
        <div class="view view-cascade overlay center">
            <img class="card-img-top center" src="{{ team['image'] }}" style="width: 250px;" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h4 class="card-title center"><strong>{{ team['team']['name'] }}</strong></h4>

            <hr style="width: 50%;" />
            <!-- Text -->
            <p class="center card-text"> {{ team['team']['description'] }} </p>

        </div>

    </div>
    <!-- Card -->

    <div>
        <div class="container mt-5  animated slideInUp">
            <div class="row">

                {% for member in team['team']['members'] %}
                <!-- Card -->
                <div class="card testimonial-card col-md-4 m-5 center">

                    <!-- Background color -->
                    <div class="card-up indigo lighten-1"></div>

                    <!-- Avatar -->
                    <div class="avatar mx-auto white">
                        <img src="{{ member['image'] }}" class="rounded-circle" style="width: 200px; height: 200px;" alt="{{ member['name'] }}">
                    </div>

                    <!-- Content -->
                    <div class="card-body center">
                        <!-- Name -->
                        <h4 class="card-title center"> {{ member['name'] }} </h4>
                        <hr>

                        <a href="{{ member['email'] }}" target="_blank" class="px-2 fa-lg li-ic"><i class="fas fa-at"></i></a> {% for link in member['links'] %} {% if link[0] == 'LinkedIn' %}
                        <a href="{{link[1]}}" target="_blank" class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a> {% endif %} {% if link[0] == 'GitHub' %}
                        <a href="{{link[1]}}" target="_blank" class="px-2 fa-lg li-ic"><i class="fab fa-github"></i></a> {% endif %} {% if link[0] == 'Resume' %}
                        <a href="{{link[1]}}" target="_blank" class="px-2 fa-lg li-ic"><i class="far fa-file-alt"></i> Resume</a> {% endif %} {% endfor %}

                        </p>
                    </div>

                </div>
                <!-- Card -->

                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}