<div class="col-6 col-md-4 my-5 animated slideInUp center">
    <div class="card shadow-sm testimonial-card">
        <div class="card-up indigo lighten-1"></div>
        <div class="avatar mx-auto white">
            <img src="{{ member['image'] }}" class="shadow-sm rounded-circle mt-n5" style="width: 200px; height: 200px;" alt="{{ member['name'] }}">
        </div>
        <div class="card-body">
            <h4 class="text-center"> {{ member['name'] }} </h4>
            <hr class="w-100">
            <div class="text-center">
                <a href="{{ member['email'] }}" target="_blank" class="px-2 fa-lg li-ic"><i class="fas fa-at"></i></a> {% for link in member['links'] %} {% if link[0] == 'LinkedIn' %}
                <a href="{{link[1]}}" target="_blank" class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a> {% endif %} {% if link[0] == 'GitHub' %}
                <a href="{{link[1]}}" target="_blank" class="px-2 fa-lg li-ic"><i class="fab fa-github"></i></a> {% endif %} {% if link[0] == 'Resume' %}
                <a href="{{link[1]}}" target="_blank" class="px-2 fa-lg li-ic"><i class="far fa-file-alt"></i> Resume</a> {% endif %} {% endfor %}
            </div>
        </div>
    </div>
</div>